.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 6%;
  min-height: 60px;
  background-color: var(--color-light);
  box-shadow: rgba(193, 193, 201, 0.25) 0px 1px 5px -1px, rgba(17, 17, 17, 0.3) 0px 1px 3px -1px;
  border-bottom: 1px solid #e0e6eb;

  &_logo {
    cursor: pointer;
    font-size: 24px;
    user-select: none;
    font-weight: bold;
    color: var(--primary-400);
    background: linear-gradient(to right, #439cfa, #59bcfa);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  @media (max-width: 992px) {
    padding: 0 2%;
  }
}

.right_section {
  display: flex;
  align-items: center;
  gap: 12px;
}

:global {
  .mantine-ComboboxChevron-chevron {
    display: none;
  }
}

.hide_on_mobile {
  display: flex;

  @media (max-width: 768px) {
    display: none;
  }
}

.menu_hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  z-index: 400;

  @media (min-width: 768px) {
    display: none;
  }
}

.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 100%;
  height: calc(100vh - 50px);
  scrollbar-width: 0 !important;

  &_nav_item,
  &_active {
    color: #439eff;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
  }

  &_active {
    text-decoration: underline #439cfa;
    text-underline-offset: 4px;
  }
}

// burger style
.icon_1,
.icon_2,
.icon_3 {
  position: absolute;
  width: 32px;
  height: 3px;
  transition: all 240ms linear;
  background-color: var(--color-dark);
}

.icon_1 {
  transform: translateY(-8px);
}

.icon_3 {
  transform: translateY(8px);
}

.hamburger_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 60px;
  width: 60px;
  top: 0%;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  transition: all 220ms linear;
  background: transparent;

  &:hover {
    transform: scale(1.01);
  }
}

/* Toggle states */
.a {
  transform: rotate(40deg);
}
.b {
  transform: rotate(-40deg);
}
.c {
  opacity: 0;
}
