.section_wrapper {
  display: flex;
  flex-direction: column;
  // gap: 20px;
  justify-content: flex-start;
}

.tabs_panel {
  width: 100%;
  height: 90%;
  min-height: 580px;
  padding: 12px 14px;
  border-radius: 8px;
  background-color: #f0f5f8;
  border: 1px solid #dde1e4;
  overflow-y: auto;

  &_title {
    font-size: 18px;
    margin-bottom: 20px;

    @media (max-width: 567px) {
      font-size: 16px;
    }
  }

  @media (max-width: 567px) {
    padding: 8px 10px;
  }
}

.vertical_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  gap: 20px;
  width: 100%;
  overflow-y: auto;

  @media (min-width: 1480px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
