.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 14px;
  height: calc(100dvh);
  min-height: calc(100dvh);

  @media (max-width: 992px) {
    padding: 16px 10px;
  }
}

.first_name {
  font-size: 24px;

  @media (max-width: 567px) {
    font-size: 18px;
  }
}

.avatar {
  background: #afe7fa;
  background: linear-gradient(90deg, rgba(175, 231, 250, 1) 0%, rgb(151, 215, 255) 100%);

  &_text {
    color: #ffffff;
  }
}

.main_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
  height: 100%;
  min-height: max-content;
  padding: 40px 20px 14px 20px;

  @media (max-width: 992px) {
    width: 100%;
  }

  @media (max-width: 567px) {
    padding: 40px 5px 14px 5px;
  }
}

.list {
  position: relative;
  background-color: #f3f5f7;
  border-radius: var(--mantine-radius-md);
  margin-bottom: var(--mantine-spacing-md);
}

.indicator {
  background-color: var(--mantine-color-white);
  border-radius: var(--mantine-radius-md);
  border: 1px solid var(--mantine-color-gray-2);

  @mixin dark {
    background-color: var(--mantine-color-dark-6);
    border-color: var(--mantine-color-dark-4);
  }
}

.tab {
  text-align: left;
  z-index: 1;
  font-weight: 500;
  transition: all 100ms ease;
  color: #6b7280;

  &[data-active] {
    color: var(--mantine-color-black);
  }

  @mixin dark {
    color: var(--mantine-color-dark-1);

    &[data-active] {
      color: var(--mantine-color-white);
    }
  }

  @media (max-width: 567px) {
    font-size: 14px;
    // border: 1px solid red;
  }
}

.tabs_panel {
  width: 100%;
  height: 94%;
  min-height: 580px;
  padding: 12px 14px;
  border-radius: 8px;
  background-color: #f0f5f8;
  border: 1px solid #dde1e4;

  &_title {
    font-size: 18px;
    margin-bottom: 20px;

    @media (max-width: 567px) {
      font-size: 16px;
    }
  }

  @media (max-width: 567px) {
    padding: 8px 10px;
  }
}

:global {
  .mantine-Tabs-list {
    display: flex;
    justify-content: center;
  }

  .mantine-Tabs-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1;
    outline: none;
  }

  .mantine-Tabs-tabLabel {
    flex: 0;
    width: max-content !important;
  }

  .mantine-Tabs-panel {
    width: 100%;
    height: 100%;
  }
}

// form
.form_group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
  width: 100%;

  &_input {
    width: 100%;
  }

  @media (max-width: 567px) {
    grid-template-columns: 1fr;
  }
}

// favorite
.favorite_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  padding: 12px 6px;
  background-color: #f4f7fa;

  &_divider {
    width: 97%;
    height: 1px;
    margin: 14px 0;
    background-color: #d8d9d9;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  width: 100%;
}

// ------------------------------------

// settings
.settings_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  padding: 12px 6px;
  background-color: #ffffff;

  &_divider {
    width: 97%;
    height: 1px;
    margin: 14px 0;
    background-color: #d8d9d9;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  width: 100%;
}

.subscribe_section {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-radius: 8px;
  padding: 16px 16px;
  background: #cbb3ff;
  background: linear-gradient(
    171deg,
    rgba(203, 179, 255, 1) 0%,
    rgba(194, 200, 255, 1) 52%,
    rgba(184, 204, 255, 1) 81%,
    rgba(161, 219, 255, 1) 100%
  );

  &_title {
    color: var(--color-dark);
  }

  &_btn {
    background-color: var(--color-light) !important;

    &:hover {
      background-color: var(--mantine-color-gray-1) !important;
    }
  }
}
