.wrapper {
  // background: #141e30;
  // background: -webkit-linear-gradient(to right, #243b55, #141e30);
  // background: linear-gradient(to right, #243b55, #141e30);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 9999999;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-body-bg);
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &Spinner {
    width: 32px;
    height: 32px;
    margin-bottom: 24px;
  }

  &Text {
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
  }
}
